[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
panda = "==0.3.1"
pandas = "==1.4.3"
#sklearn = "==1.0.2"
fsspec = "==2022.7.1"
s3fs = "==0.4.2"
mlflow = "==1.27.0"
#scikit-learn = "==0.23"
awscli = "==1.25.54"
prefect = "==2.0b5"
alembic = "==1.8.1"
seaborn = "==0.11.2"
hyperopt = "==0.2.5"
xgboost = "==1.6.1"
fastparquet = "==0.8.1"
plotly = "==5.10.0"
hpsklearn = "==0.0.3"
numpy = "==1.21.4"
#reservoirpy = "==0.3.2"
aiofiles = "==0.8.0"
aiohttp = "==3.8.1"
aiosignal = "==1.2.0"
aiosqlite = "==0.17.0"
anyio = "==3.6.1"
asgi-lifespan = "==1.0.1"
async-timeout = "==4.0.2"
asyncpg = "==0.26.0"
attrs = "==22.1.0"
azure-core = "==1.25.0"
azure-storage-blob = "==12.13.1"
boto3 = "==1.24.54"
botocore = "==1.27.54"
cachetools = "==5.2.0"
certifi = "==2022.12.7"
cffi = "==1.15.1"
charset-normalizer = "==2.1.0"
click = "==8.0.4"
cloudpickle = "==2.1.0"
commonmark = "==0.9.1"
coolname = "==1.1.0"
croniter = "==1.3.5"
cryptography = "==37.0.4"
dataclasses = "==0.6"
docker = "==5.0.3"
#evidently = "==0.1.52.dev2"
fastapi = "==0.79.0"
frozenlist = "==1.3.1"
google-api-core = "==2.8.2"
google-auth = "==2.10.0"
google-cloud-core = "==2.3.2"
google-cloud-storage = "==2.5.0"
google-crc32c = "==1.3.0"
google-resumable-media = "==2.3.3"
googleapis-common-protos = "==1.56.4"
greenlet = "==1.1.2"
griffe = "==0.21.0"
h11 = "==0.12.0"
httpcore = "==0.15.0"
httpx = "==0.23.0"
idna = "==3.3"
importlib-metadata = "==4.12.0"
importlib-resources = "==5.8.0"
isodate = "==0.6.1"
jmespath = "==1.0.1"
joblib = "==1.1.0"
jsonpatch = "==1.32"
jsonpointer = "==2.3"
kubernetes = "==24.2.0"
mako = "==1.2.1"
markupsafe = "==2.1.1"
msrest = "==0.7.1"
multidict = "==6.0.2"
oauthlib = "==3.2.0"
patsy = "==0.5.2"
pendulum = "==2.1.2"
protobuf = "==3.20.1"
psutil = "==5.9.1"
pyarrow = "==8.0.0"
pyasn1 = "==0.4.8"
pyasn1-modules = "==0.2.8"
pycparser = "==2.21"
pydantic = "==1.9.2"
pygments = "==2.13.0"
pymongo = "==4.1.1"
pyparsing = "==3.0.9"
python-dateutil = "==2.8.2"
python-slugify = "==6.1.2"
pytz = "==2022.2.1"
pytzdata = "==2020.1"
pyyaml = "==5.4.1"
readchar = "==4.0.1"
requests = "==2.28.1"
requests-oauthlib = "==1.3.1"
rich = "==12.5.1"
rsa = "==4.7.2"
s3transfer = "==0.6.0"
scipy = "==1.7.3"
six = "==1.16.0"
slack-sdk = "==3.17.2"
sniffio = "==1.2.0"
starlette = "==0.19.1"
statsmodels = "==0.13.2"
tenacity = "==8.0.1"
text-unidecode = "==1.3"
threadpoolctl = "==3.1.0"
toml = "==0.10.2"
typer = "==0.6.1"
typing-extensions = "==4.3.0"
urllib3 = "==1.26.11"
uvicorn = "==0.18.2"
websocket-client = "==1.3.3"
yarl = "==1.8.1"
zipp = "==3.8.1"
packaging = "==21.3"
rfc3986 = {version = "==1.5.0", extras = ["idna2008"]}
sqlalchemy = "==1.4.40"
bcdoc = "*"
aiohttp-cors = "==0.7.0"
blessed = "==1.19.1"
colorama = "==0.4.4"
colorful = "==0.5.4"
cramjam = "==2.5.0"
cycler = "==0.11.0"
dask = "==2022.8.0"
databricks-cli = "==0.17.1"
dill = "==0.3.5.1"
distlib = "==0.3.5"
distributed = "==2022.8.0"
docutils = "==0.16"
entrypoints = "==0.4"
filelock = "==3.8.0"
flask = "==2.2.2"
fonttools = "==4.36.0"
future = "==0.18.2"
gitdb = "==4.0.9"
gitpython = "==3.1.27"
gpustat = "==1.0.0rc1"
grpcio = "==1.43.0"
gunicorn = "==20.1.0"
heapdict = "==1.0.1"
itsdangerous = "==2.1.2"
jinja2 = "==3.1.2"
jsonschema = "==4.10.2"
kiwisolver = "==1.4.4"
locket = "==1.0.0"
matplotlib = "==3.5.3"
msgpack = "==1.0.4"
networkx = "==2.8.5"
nose = "==1.3.7"
nvidia-ml-py = "==11.495.46"
opencensus = "==0.11.0"
opencensus-context = "==0.1.3"
partd = "==1.3.0"
pillow = "==9.2.0"
platformdirs = "==2.5.2"
prometheus-client = "==0.13.1"
prometheus-flask-exporter = "==0.20.3"
py-spy = "==0.3.12"
pyjwt = "==2.4.0"
pyrsistent = "==0.18.1"
querystring-parser = "==1.2.4"
ray = {version = "==1.13.0", extras = ["default"]}
reservoirpy = "==0.3.2"
smart-open = "==6.0.0"
smmap = "==5.0.0"
sortedcontainers = "==2.4.0"
sqlparse = "==0.4.2"
tabulate = "==0.8.10"
tblib = "==1.7.0"
toolz = "==0.12.0"
tornado = "==6.1"
tqdm = "==4.64.0"
virtualenv = "==20.16.3"
wcwidth = "==0.2.5"
werkzeug = "==2.2.2"
zict = "==2.2.0"
evidently = "==0.1.52.dev2"
scikit-learn = "*"
pytest = "*"

[dev-packages]
pyarrow = "*"
parquet = "*"
#pytest = "*" #"==2.14.4"
deepdiff = "*"
panda = "*"
black = "*"
isort = "*"
pre-commit = "*"
pylint = "==2.14.4"
terraform-local = "*"

[requires]
python_version = "3.9"
